*.dvi
*.ps
*.aux
*.bbl
*.blg
*.log
*.toc
*.url
*.bak
*.ilg
.DS_Store
.project
.texlipse
\#*#
.#*
/tmp
/000-branch-*
/oscad.xml
/oslic.nlo
/oslic.nls
/oslic.out
/oslic.pdf
/oslic-*.pdf
/to_oscad/oscad_data
/bin/
